<h1>Username</h1>

<div class = "profile-image">
  <%= image_tag 'logo.png' %>
</div>

<div class = "bio-box">

</div>

<%= link_to "Edit Profile", edit_user_registration_path %>

<%= link_to "Income Preferences", root_path %>

<%= link_to "Share MyMoMa", root_path %>
