<div class="navbar d-flex justify-content-between">
  <%= image_tag 'Carlotta.jpg', class:"avatar ml-2"%>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <%= image_tag 'mymoma.png', class:"small-logo" %>
    <% end %>

</div>

