<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#" do %>
    <i class="fas fa-chart-line"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fas fa-wallet"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fas fa-bullseye"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="far fa-question-circle"></i>
  <% end %>

</div>
