<div class="container">
  <%= image_tag "mymoma.png", alt: "LOGO", width: 350, class:"main-logo"%>
  <div class="d-flex flex-column " style="margin-top: 200px">
    <p>Budgeting maade easy.</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-main" %>

    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-main" %></div>
</div>
