<div class="container">
  <h1>How it works:</h1>
  <br>
  <h5>MyMoMa is your clever money manager! 🧠 </h5>
  <br>
  <h5>First, it calculates how much money you can spend monthly - based on your income, fixed expenses and monthly saving goal. <br>Then, it recommends how much to spend on weekdays and weekends 🎉 </h5>
  <br>
  <h5>If you add a goal 🥅, MyMoMa will re-adjust  by helping you save an equal amount daily, until the completion date of your goal</h5>
<br>
  <h5>Also, MyMoMa offers you analytics data on your spending 📊</h5>
</div>
