<div class="container">
  <h1>Frequently asked questions</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eius obcaecati esse sit quaerat vitae placeat excepturi cupiditate itaque fuga vero reprehenderit, maiores quis pariatur. Voluptatum sed, doloremque sint similique provident. Cumque et voluptates nobis fuga, illo quaerat, rem, repellendus non esse minus aut nulla? Numquam inventore amet tempora. Molestiae earum sapiente numquam quibusdam accusamus, vero quae cupiditate dolorum, excepturi nulla. Tenetur aliquam libero placeat eius mollitia architecto, aut consequuntur natus sunt facilis molestias dolore sequi, nobis et ducimus ipsum! Provident, commodi optio? Atque minima dolor nesciunt architecto, fugit sit neque eligendi enim, magnam quibusdam. Explicabo molestiae non deleniti aperiam.</p>
</div>
