<div class="container text-center">
  <h1>Recommendations</h1>
  <br>
  <div class="border border-lg-radius p-3 shadow">
    <h1> £<%= @available_spend %></h1>
    <h4> Available to spend this month </h4>
  </div>
  <br>
  <br>
  <div class="border border-lg-radius p-3 shadow">
    <h2> £<%= @weekday_available.round(1) %></h2>
    <h4> Weekday daily spend </h4>
    <h2> £<%= @weekend_available.round(1) %></h2>
    <h4> Weekend daily spend </h4>
  </div>
  <br>
  <br>
  <br>
   <%= link_to "Change income Preferences", tell_us_a_bit_more_wallets_path, class:"btn btn-primary btn-main" %>
</div>
