<div class="container text-center">
  <h1>Recommendations</h1>
  <br>
  <h2>Available to spend this month: <br> £<%= @available_spend %></h2>
  <br>
  <br>
  <h3>Weekday daily spend: <br> £<%= @weekday_available.round(1) %></h3>
  <br>
  <h3>Weekend daily spend: <br> £<%= @weekend_available.round(1) %></h3>
  <br>
  <br>
  <br>
  <br>
   <%= link_to "Change income Preferences", tell_us_a_bit_more_wallets_path, class:"btn btn-primary btn-main" %>
</div>
