<div class="container">

  <h1>Hi <%= @wallet.user.first_name %></h1>
  <div class="circle">
    <div class="circle-info">
      <div class="large-writing">£ <%= @daily_remaining.round(1) %> </div>Remaining
    </div>
  </div>

  <div class="little-card">
    <div class="card-box border rounded mt-2">
      <div class="card-info m-3">
        <h2>Money spent today:</h2>
        <p>You are within your daily budget </p>
      </div>
    </div>
  </div>

</div>

