<div class="container">
  <h1>Your Stats</h1>
  <canvas id="myChart" width="400" height="400"></canvas>


  <%= link_to "Today's transactions", transactions_path, class:"btn btn-primary btn-main" %>
</div>
