.btn-main {
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: $blue;
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add{
  height: 50px;
  width: 50px;
  background-color: $blue;
  color: white;
  border-radius: 50%;
  font-size: 32px;
}
