.btn-main {
  margin: 10px auto;
  border-radius: 30px;
  background-color: $blue;
  height: 60px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add{
  height: 50px;
  width: 50px;
  margin-left: -25px;
  color: $blue;
  background-color: rgba(15, 65, 218, 1);
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-absolute {
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.btn-smaller {
  height: 30px;
  width: 30px;
  font-size: 20px;
}
