#goal_name, #goal_amount_cents, #goal_link, #goal_completion_date_1i, #goal_completion_date_2i, #goal_completion_date_3i,
#user_email, #user_password, #user_password_confirmation, #user_photo, #user_first_name, #user_last_name,
#user_current_password {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
