.flex-and-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-background {
  background-color: $blue;
  color: white !important;
}

.text-right {
  position: absolute;
  right: 0px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.red-font {
  color: $red;
}

.blue-box {
  background-color: $light-blue;
  color: $blue;
}

.red-box {
  background-color: $light-red;
  color: $red;
}

.bottom-radius {
  border-radius: 0 0 30px 30px;
}

.days-left-box {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #234bc4;
  width: 200px;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  display: block;
}

.save-box{
  margin: 0 23px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
 .small-box {
  padding: 0px 5px;
  border-radius: 10px;
  text-align: center;
 }
