.container {
  text-align: center;

}

.background-image {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.progress {
  text-align: center;
}

.goal-amount {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  font-size: 24px;

}
