.container {
  text-align: center;

}

.background-image {
  border-radius: 10px;
  margin-top: 10px;
}
.progress {
  text-align: center;
}

.goal-amount {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}


