.navbar-lewagon {
  justify-content: space-between;
  background: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 30px;
  display: flex;
  color: $blue;
  border-top: 1px solid $light-blue;
  padding: 15px auto;
}

.navbar-item {
  color: $blue;
  &:active{
    color: $red;
  };
}

.active{
  color: $red;
};

.navbar-logo {
  justify-content: space-between;
  background: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 40px;
  display: flex;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
