.navbar-lewagon {
  justify-content: space-between;
  background: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
